<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>
<nav th:replace="layouts :: navbar"></nav>

<div class="container">

        <!-- Table of Adding Customer -->
        <table id="customerTable" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th id="firstname">Firstname</th>
                <th id="lastname">Lastname</th>
                <th>Email</th>
                <th>Supervisor</th>
            </tr>
            </thead>
            <tbody id="studentTable">
            </tbody>
        </table>

    </div>
</div>
</body>
</html>