<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>

<!-- Navigation bar -->
<nav th:replace="layouts :: navbar"></nav>

<div class="container">

    <!-- Table to show data bar -->
    <table id="customerTable" class="table">
        <thead>
        <tr>
            <th scope="col">StudentId</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Supervisor</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody id="studentTable">

        </tbody>
    </table>

    </div>
</div>
</body>
</html>